<!DOCTYPE html>
<html lang="en">

<head>

    <!--link rel="stylesheet" type="text/css" href="css/dashboard.css"/>
    <link rel="stylesheet" type="text/css" href="css/dashboard.css"/-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>军事科研情报分析</title>

    <!-- Bootstrap Core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- DataTables CSS -->
    <link href="../vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="../vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link href="../css/dashboard.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- 给页面page部分加上neo4j的背景图片 -->
    <style type="text/css">
        .page-wrapper{
            background-image: url(../img/neo4j_background.gif);
        }
    </style>
</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">军事科研情报分析系统</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-messages">
                    <li>
                        <a href="#">
                            <div>
                                <strong>John Smith</strong>
                                <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                            </div>
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <strong>John Smith</strong>
                                <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                            </div>
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <strong>John Smith</strong>
                                <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                            </div>
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>Read All Messages</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-messages -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-tasks">
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Task 1</strong>
                                    <span class="pull-right text-muted">40% Complete</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                        <span class="sr-only">40% Complete (success)</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Task 2</strong>
                                    <span class="pull-right text-muted">20% Complete</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                        <span class="sr-only">20% Complete</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Task 3</strong>
                                    <span class="pull-right text-muted">60% Complete</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                        <span class="sr-only">60% Complete (warning)</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Task 4</strong>
                                    <span class="pull-right text-muted">80% Complete</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                        <span class="sr-only">80% Complete (danger)</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>See All Tasks</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-tasks -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-comment fa-fw"></i> New Comment
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                <span class="pull-right text-muted small">12 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-envelope fa-fw"></i> Message Sent
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-tasks fa-fw"></i> New Task
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>See All Alerts</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-alerts -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <!-- 左侧导航栏部分 -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
##                    <li class="sidebar-search">
##                        <div class="input-group custom-search-form">
##                            <input type="text" class="form-control" placeholder="Search...">
##                            <span class="input-group-btn">
##                                    <button class="btn btn-default" type="button">
##                                        <i class="fa fa-search"></i>
##                                    </button>
##                                </span>
##                        </div>
##                        <!-- /input-group -->
##                    </li>
                    <li>
                        <a href="/index"><i class="fa fa-dashboard fa-fw"></i> 主页</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> 领域专家分析<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/queryOfExpert">专家信息查询</a>
                            </li>
                            <li>
                                <a href="/recommendOfExpert">专家推荐</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> 科研机构分析 <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/queryOfInstitution">科研机构查询</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-wrench fa-fw"></i> 科研技术体系查询<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/queryOfKeyword">科研重点查询</a>
                            </li>
                            <li>
                                <a href="/allKeywords">科研热点详情</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper" class="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-xs-12">
                    <div class="color-fill near-head-rect"></div>
                    <div class="header-div">
                        <h1 class="page-header">$keyword.name</h1>
                        <input type="hidden" value="$keyword.getId()" id="keyword-id">
                        <p id="keyword-intro">关键词介绍</p>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->

        <div class="container-fluid container-fluid-position" >
            <div class="row">
                <div class="col-lg-12 col-xs-12">
                    <div class="col-lg-2 col-xs-2">
                        <div class="panel panel-green" style="width: 100%; height: 140px;">
                            <div class="panel-body" >
                                <div class="part-header">
                                    <p>相关领域<br/>关联网络</p>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel panel-green-->
                    </div>
                    <!-- /.col-lg-2-->
                    <div class="col-lg-10 col-xs-10">
                        <div class="panel panel-green">
                            <div class="panel-body">
                                <div id="keyword-relationship" style="width: 100%; height: 300px;">

                                </div>
                            </div>
                        </div>
                        <!-- /.panel panel-green-->
                    </div>
                    <!-- /.col-lg-10-->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-lg-12 col-xs-12">
                    <div class="col-lg-2 col-xs-2">
                        <div class="panel panel-green" style="width: 100%; height: 140px;">
                            <div class="panel-body" >
                                <div class="part-header">
                                    <p>相关领域</br>信息详情</p>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel panel-green-->
                    </div>
                    <!-- /.col-lg-2-->
                    <div class="col-lg-10 col-xs-10">
                        <div class="panel panel-green">
                            <div class="panel-body">
                                <div id="keyword-relationship-info" style="width: 100%; height: 300px;">

                                </div>
                            </div>
                        </div>
                        <!-- /.panel panel-green-->
                    </div>
                    <!-- /.col-lg-10-->
                </div>
                <!-- /.col-lg-12-->
            </div>
            <!-- /.row-->

            <div class="row" >
                <div class="col-lg-12 col-xs-12" style="padding-top: 20px;">
                    <div class="col-lg-2 col-xs-2">
                        <div class="panel panel-green" style="width: 100%; height: 140px;">
                            <div class="panel-body" >
                                <div class="part-header">
                                    <p>领域专家</br>Tops</p>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel panel-green-->
                    </div>
                    <!-- /.col-lg-2-->
                    <div class="col-lg-5 col-xs-5" style="padding-right: 0;">
                        <div class="panel panel-green">
                            <div class="list-group" style="padding: 10px;">
                                #foreach($author in $authors1)
                                    #set($authorHref = "/detailOfExpert?name=" + $author.name + "&&institution=" + $author.institution )
                                    <a href=$authorHref  class="list-group-item">
                                        <i class="fa fa-user fa-fw"></i> $author.name
                                    </a>
                                #end
                            </div>
                            <!-- /.list-group-->
                        </div>
                        <!-- /.panel panel-green-->
                    </div>
                    <!-- /.col-lg-5-->
                    <div class="col-lg-5 col-xs-5" style="padding-left: 0;">
                        <div class="panel panel-green">
                            <div class="list-group" style="padding: 10px;">
                                #foreach($author in $authors2)
                                    #set($authorHref = "/detailOfExpert?name=" + $author.name + "&&institution=" + $author.institution )
                                    <a href=$authorHref class="list-group-item">
                                        <i class="fa fa-user fa-fw"></i> $author.name
                                    </a>
                                #end
                            </div>
                            <!-- /.list-group-->
                        </div>
                        <!-- /.panel panel-green-->
                    </div>
                    <!-- /.col-lg-5-->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->

            <div class="row" >
                <div class="col-lg-12 col-xs-12" style="padding-top: 20px;">
                    <div class="col-lg-2 col-xs-2">
                        <div class="panel panel-green" style="width: 100%; height: 140px;">
                            <div class="panel-body" >
                                <div class="part-header">
                                    <p>领域机构</br>Tops</p>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel panel-green-->
                    </div>
                    <!-- /.col-lg-2-->
                    <div class="col-lg-5 col-xs-5" style="padding-right: 0;">
                        <div class="panel panel-green">
                            <div class="list-group" style="padding: 10px;">
                                #foreach($institution in $institutions1)
                                    #set($institutionHref = "/InstitutionInformation?institutionId=" + $institution.getId())
                                    <a href=$institutionHref class="list-group-item">
                                        <i class="fa fa-institution fa-fw"></i> $institution.name
                                    </a>
                                #end
                            </div>
                            <!-- /.list-group-->
                        </div>
                        <!-- /.panel panel-green-->
                    </div>
                    <!-- /.col-lg-5-->
                    <div class="col-lg-5 col-xs-5" style="padding-left: 0;">
                        <div class="panel panel-green">
                            <div class="list-group" style="padding: 10px;">
                                #foreach($institution in $institutions2)
                                    #set($institutionHref = "/InstitutionInformation?institutionId=" + $institution.getId())
                                    <a href=$institutionHref class="list-group-item">
                                        <i class="fa fa-institution fa-fw"></i> $institution.name
                                    </a>
                                #end
                            </div>
                            <!-- /.list-group-->
                        </div>
                        <!-- /.panel panel-green-->
                    </div>
                    <!-- /.col-lg-5-->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-lg-12 col-xs-12" style="padding-top: 20px;">
                    <div class="col-lg-2 col-xs-2">
                        <div class="panel panel-green" style="width: 100%; height: 140px;">
                            <div class="panel-body" >
                                <div class="part-header">
                                    <p>相关技术<br/>发展趋势</p>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel panel-green-->
                    </div>
                    <!-- /.col-lg-2-->
                    <div class="col-lg-10 col-xs-10">
                        <div class="panel panel-green">
                            <div class="panel-body">
                                <div id="keyword-development-of-num" style="width: 100%; height: 350px;">

                                </div>
                            </div>
                        </div>
                        <!-- /.panel panel-green-->
                    </div>
                    <!-- /.col-lg-10-->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->

            <div class="row" >
                <div class="col-lg-12 col-xs-12" style="padding-top: 20px;">
                    <div class="col-lg-2 col-xs-2">
                        <div class="panel panel-green" style="width: 100%; height: 140px;">
                            <div class="panel-body" >
                                <div class="part-header">
                                    <p>领域论文</br>Tops</p>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel panel-green-->
                    </div>
                    <!-- /.col-lg-2-->
                    <div class="col-lg-10 col-xs-10">
                        <div class="panel panel-green">
                            <div class="list-group" style="padding: 10px;">
                                #foreach($paper in $papers)
                                    <a href=$paper.link class="list-group-item">
                                        <i class="fa fa-star fa-fw"></i> $paper.title
                                        <span class="pull-right text-muted small">引用量：<em>$paper.quote 次</em>
                                        </span>
                                        <span class="pull-right text-muted small">时间：<span>$paper.date</span>&emsp;
                                        </span>
                                    </a>
                                #end

##                                <a href="#" class="list-group-item">
##                                    <i class="fa fa-star fa-fw"></i> 论文二
##                                    <span class="pull-right text-muted small">引用量：<em>40 次</em>
##                                </span>
##                                    <span class="pull-right text-muted small">作者：<span>某某某</span>&emsp;
##                                </span>
##                                </a>
##                                <a href="#" class="list-group-item">
##                                    <i class="fa fa-star fa-fw"></i> 论文三
##                                    <span class="pull-right text-muted small">引用量：<em>40 次</em>
##                                </span>
##                                    <span class="pull-right text-muted small">作者：<span>某某某</span>&emsp;
##                                </span>
##                                </a>
##                                <a href="#" class="list-group-item">
##                                    <i class="fa fa-star fa-fw"></i> 论文四
##                                    <span class="pull-right text-muted small">引用量：<em>40 次</em>
##                                </span>
##                                    <span class="pull-right text-muted small">作者：<span>某某某</span>&emsp;
##                                </span>
##                                </a>
##                                <a href="#" class="list-group-item">
##                                    <i class="fa fa-star fa-fw"></i> 论文五
##                                    <span class="pull-right text-muted small">引用量：<em>40 次</em>
##                                </span>
##                                    <span class="pull-right text-muted small">作者：<span>某某某</span>&emsp;
##                                </span>
##                                </a>
##                                <a href="#" class="list-group-item">
##                                    <i class="fa fa-star fa-fw"></i> 论文六
##                                    <span class="pull-right text-muted small">引用量：<em>40 次</em>
##                                </span>
##                                    <span class="pull-right text-muted small">作者：<span>某某某</span>&emsp;
##                                </span>
##                                </a>
##                                <a href="#" class="list-group-item">
##                                    <i class="fa fa-star fa-fw"></i> 论文七
##                                    <span class="pull-right text-muted small">引用量：<em>40 次</em>
##                                </span>
##                                    <span class="pull-right text-muted small">作者：<span>某某某</span>&emsp;
##                                </span>
##                                </a>
##                                <a href="#" class="list-group-item">
##                                    <i class="fa fa-star fa-fw"></i> 论文八
##                                    <span class="pull-right text-muted small">引用量：<em>40 次</em>
##                                </span>
##                                    <span class="pull-right text-muted small">作者：<span>某某某</span>&emsp;
##                                </span>
##                                </a>
                            </div>
                            <!-- /.list-group-->
                        </div>
                        <!-- /.panel panel-green-->
                    </div>
                    <!-- /.col-lg-10-->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="../vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="../vendor/metisMenu/metisMenu.min.js"></script>

<!-- DataTables JavaScript -->
<script src="../vendor/datatables/js/jquery.dataTables.min.js"></script>
<script src="../vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
<script src="../vendor/datatables-responsive/dataTables.responsive.js"></script>

<!-- Custom Theme JavaScript -->
<script src="../dist/js/sb-admin-2.js"></script>

<!-- echarts.js -->
<script src="../js/echarts.js"></script>
<script src="../js/dataTool.min.js"></script>

<!-- china.js -->
<script src="../js/china.js"></script>



<!-- 技术发展趋势图 -->
<script type="text/javascript" src = "../js/keywordsDetail/keywordDevelopmentofNumber.js"></script>
<!-- 关键词关联网络图 -->
<script type="text/javascript" src = "../js/keywordsDetail/keywordRelationship.js"></script>
<!-- 关键词关联详细信息力引导布局图 -->
<script type="text/javascript" src = "../js/keywordsDetail/keywordRelationshipInfo.js"></script>

<script type="text/javascript">
    var id = $("#keyword-id").val();
    var depth = 2;
    loadKeywordDevelopmentofNumber(id);
    loadKeywordRelationship(id , depath);
    loadKeywordInfo(id , depth);
    window.onresize = function () {
        loadKeywordDevelopmentofNumber(id);
        loadKeywordRelationship(id , depth);
        loadKeywordInfo(id , depth);
    }
</script>
</body>

</html>
